input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #cbced1, inset -2px -2px 4px white;
}
input::placeholder {
  color: gray;
}

