input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #cbced1, inset -2px -2px 4px white;
}
input::placeholder {
  color: gray;
}
.glass-label {
  @apply px-4 py-2 text-white text-lg font-semibold rounded-md 
         bg-white/10 backdrop-blur-md border border-white/20 
         shadow-[inset_2px_2px_4px_rgba(0,0,0,0.2),_inset_-2px_-2px_4px_rgba(255,255,255,0.6)];
}
